<launch>

  <arg name="save_dir" default="$(find vzense_demo)/data_camera_and_robot" />
  <arg name="gui" default="true" />

  <include file="$(find vzense_demo)/launch/vzense.launch" >
    <arg name="gui" value="false" />
  </include>

  <node name="save_request_node"
        pkg="vzense_demo" type="save_request_node.py"
        clear_params="true" output="screen" >
    <rosparam>
      results_path: robot_and_camera_calib_results
      data_path: data_camera_and_robot
      calib_yaml_path: calib_param_two_vzense.yaml
      to_frame_id: rarm_hand_camera_color_optical_frame
      for_robot: true
    </rosparam>
  </node>

  <node name="data_collection_server"
        pkg="jsk_data" type="data_collection_server.py"
        clear_params="true" output="screen" >
    <rosparam subst_value="true">
      save_dir: $(arg save_dir)
      topics:
      - name: /rarm_hand_camera/color/image_raw
        msg_class: sensor_msgs/Image
        fname: right.jpg
        savetype: ColorImage
      - name: /camera/left_vzense_camera/color/image_raw
        msg_class: sensor_msgs/Image
        fname: left.jpg
        savetype: ColorImage
    </rosparam>
  </node>

  <node name="marker_6dof_for_robot_to_camera"
        pkg="jsk_interactive_marker" type="marker_6dof" >
    <rosparam>
      frame_id: RARM_LINK3
      object_type: none
      publish_tf: true
      tf_frame: rarm_hand_camera_link
      initial_x: -0.089
      initial_y: 0.0
      initial_z: -0.317
      initial_orientation: [7.07106781e-01,  4.32978028e-17, -7.07106781e-01, 4.32978028e-17]
    </rosparam>
  </node>

  <group if="$(arg gui)" >
    <node name="rviz"
          pkg="rviz" type="rviz"
          args="-d $(find vzense_demo)/launch/config/calib_camera_and_robot.rviz" >
      <rosparam command="load" file="$(find vzense_demo)/config/calib_camera_command.yaml" />
    </node>
  </group>

</launch>
