<launch>

  <arg name="left_vzense_camera_frame_frame_id" default="left_vzense_camera_frame" />
  <arg name="right_vzense_camera_frame_frame_id" default="right_vzense_camera_frame" />
  <node name="left_vzense_camera_frame_to_right_vzense_camera_frame_static_transform_publisher"
        pkg="tf" type="static_transform_publisher"
        args="1.1480941628868016 -0.3434672505143339 0.7330592905766944
              0.04171201231208427 -0.5619231643372399 -0.22119963365357453 0.7959731072603046
              $(arg left_vzense_camera_frame_frame_id) $(arg right_vzense_camera_frame_frame_id) 100" />

</launch>
