<launch>

  <arg name="gui" default="true" />
  <arg name="device" default="-1" />
  <arg name="model_file" default="2024-10-02-grape_ncnn_model" />
  <arg name="score_thresh" default="0.5" />

  <group ns="/camera/left_vzense_camera" >
    <include file="$(find vzense_demo)/launch/object_detection.launch" >
      <arg name="input_image" default="/camera/left_vzense_camera/color/image_raw" />
      <arg name="input_depth_image" default="/camera/left_vzense_camera/transformedDepth/image_raw" />
      <arg name="input_cloud" default="/camera/left_vzense_camera/transformedDepth/points" />
      <arg name="manager" default="/camera/left_vzense_camera/vzense_manager" />
      <arg name="gui" default="$(arg gui)" />
      <arg name="device" default="$(arg device)" />
      <arg name="model_file" default="$(arg model_file)" />
      <arg name="score_thresh" default="$(arg score_thresh)" />

      <arg name="roi_x_min" default="361" />
      <arg name="roi_x_max" default="980" />
      <arg name="roi_y_min" default="299" />
      <arg name="roi_y_max" default="844" />
    </include>
  </group>

  <group ns="/camera/right_vzense_camera" >
    <include file="$(find vzense_demo)/launch/object_detection.launch" >
      <arg name="input_image" default="/camera/right_vzense_camera/color/image_raw" />
      <arg name="input_depth_image" default="/camera/right_vzense_camera/transformedDepth/image_raw" />
      <arg name="input_cloud" default="/camera/right_vzense_camera/transformedDepth/points" />
      <arg name="manager" default="/camera/right_vzense_camera/vzense_manager" />
      <arg name="gui" default="$(arg gui)" />
      <arg name="device" default="$(arg device)" />
      <arg name="model_file" default="$(arg model_file)" />
      <arg name="score_thresh" default="$(arg score_thresh)" />

      <arg name="roi_x_min" default="677" />
      <arg name="roi_x_max" default="1383" />
      <arg name="roi_y_min" default="293" />
      <arg name="roi_y_max" default="657" />
    </include>
  </group>

</launch>
