<launch>

  <arg name="gui" default="false" />

  <arg name="input_cloud" value="/camera/left_vzense_camera/transformedDepth/points" />
  <arg name="manager" default="/camera/left_vzense_camera/vzense_manager" />

  <!--Extracting blue objects -->
  <arg name="h_max" default="-94" />
  <arg name="h_min" default="-128" />
  <arg name="s_max" default="200" />
  <arg name="s_min" default="59" />
  <arg name="i_max" default="255" />
  <arg name="i_min" default="0" />


  <!-- <node name="voxel_grid" -->
  <!--       pkg="nodelet" type="nodelet" -->
  <!--       args="load pcl/VoxelGrid $(arg manager)"> -->
  <!--   <remap from="~input" to="$(arg input_cloud)"/> -->
  <!--   <rosparam> -->
  <!--     filter_field_name: z -->
  <!--     filter_limit_min: 0.0 -->
  <!--     filter_limit_max: 5.0 -->
  <!--     leaf_size: 0.02 -->
  <!--   </rosparam> -->
  <!-- </node> -->

  <node name="hsi_color_filter"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/HSIColorFilter $(arg manager)"
        respawn="true">
    <!-- <remap from="~input" to="voxel_grid/output" /> -->
    <remap from="~input" to="$(arg input_cloud)" />
    <rosparam>
      use_indices: false
      keep_organized: true
    </rosparam>
    <param name="h_limit_max" value="$(arg h_max)" />
    <param name="h_limit_min" value="$(arg h_min)" />
    <param name="s_limit_max" value="$(arg s_max)" />
    <param name="s_limit_min" value="$(arg s_min)" />
    <param name="i_limit_max" value="$(arg i_max)" />
    <param name="i_limit_min" value="$(arg i_min)" />
  </node>

  <node name="euclidean_clustering"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/EuclideanClustering $(arg manager)"
        output="screen">
    <remap from="~input" to="hsi_color_filter/output" />
    <rosparam>
      tolerance: 0.02
      min_size: 730
      max_size: 50000000
    </rosparam>
  </node>

  <node name="cluster_decomposer"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ClusterPointIndicesDecomposerZAxis $(arg manager)"
        output="screen" clear_params="true">
    <remap from="~input" to="hsi_color_filter/output" />
    <remap from="~target" to="euclidean_clustering/output" />
    <remap from="~debug_output" to="debug_output" />
    <remap from="~boxes" to="boxes" />
    <rosparam>
      use_pca: true
    </rosparam>
  </node>

  <group if="$(arg gui)">
    <node name="image_view0"
          pkg="image_view" type="image_view">
      <remap from="image" to="/cluster_decomposer/mask" />
    </node>
    <node name="image_view1"
          pkg="image_view" type="image_view">
      <remap from="image" to="/cluster_decomposer/label" />
    </node>
  </group>

</launch>
